.NavBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; 
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 32px;
  color: white;
  font-weight: bold;
}

.AppBody {
  margin: 60px auto 0px;
  width: 768px;
}